<?php echo $this->doctype() ?>
<html >
<head>


 <?php echo $this->headMeta(); ?>
  <?php echo $this->headTitle(); ?>


<script type="text/javascript" src="/js/slide.js"></script>
<script type="text/javascript" src="/js/pdfscript.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.validate.js"></script>
<script type="text/javascript" src="/js/logInValidation.js"></script>
<?php  echo $this->headScript(); ?>


<?php  echo $this->headLink(); ?>
</head>




<body>

	<div id="outer">

		<div id="inner">
                    <?php
                    $req=Zend_Controller_Front::getInstance()->getRequest();
                          if(base64_decode($req->getParam('e'))!="")
                                 { ?>
                    <div id="loginErr"><?=base64_decode($req->getParam('e'))?></div>
                    <?php } ?>
			<div id="logindiv" align="right">

      			<form name="loginForm" id="loginForm" method="post" action="/users/login">
                        <input name="param" type="hidden" value="<?=$param ?>"/>
                        <input title="Login Id" visibility='hidden'name="login_id" type="text" class="font10arial" id="login_id" size="15"  />
                        &nbsp;
                        <input title="Password" visibility='hidden' name="password" type="password" id="password" class="font10arial"  size="15" />
                       
                        <input name="Submit" id="LoginSubmit" type="submit" class="font10arial" value="Sign In">
                        <input name="reqUrl" type="hidden" value="<?php 
                        echo   $req->getControllerName()."/".$req->getActionName(); ?>"/>
       		 	</form>

			</div>

			<div id="top">

			<div id="logo"><img src="/images/logo.gif" alt="Logo MVMTeam" width="422" height="91"></div>

			<div id="top_menu">
                 
                              
		 <ul>
                     <li><a href="index" title="home" 
                        <?php if($this->layout()->currentMenu=="home") echo "class=\"current\""; ?>>Home</a></li>
                     <li><a href="joinnow" title="Join Now" 
                        <?php if($this->layout()->currentMenu=="joinnow") echo "class=\"current\""; ?>>JOIN NOW!</a></li>
                    <li><a href="index/ourstyle" title="Our Style"
                        <?php if($this->layout()->currentMenu=="ourstyle") echo "class=\"current\""; ?>>Our Style</a></li>
                    <li><a href="https://www.facebook.com/team/events?refid=52&ref=stream&_ft_=fbid.393485610722523" title="Events"
                        <?php if($this->layout()->currentMenu=="events") echo "class=\"current\""; ?>>Events</a></li>
                    <li><a href="index/aboutus" title="About Us"
                        <?php if($this->layout()->currentMenu=="aboutus") echo "class=\"current\""; ?>>About Us</a></li>
                    <li><a href="index/faq" title="FAQ"
                        <?php if($this->layout()->currentMenu=="faq") echo "class=\"current\""; ?>>FAQ</a></li>
                    <li><a href="index/contactus" title="Contact Us"
                        <?php if($this->layout()->currentMenu=="contactus") echo "class=\"current\""; ?>>Contact Us</a></li>
            </ul>


			</div>

			</div>
              	<div id="body">
                       <?php     echo $this->layout()->content; ?>
		</div>

           <div id="foot">

			<?php include "footer.phtml"; ?>

		  </div>

		</div>

	</div>

    <div id="slogan">Match Single Muslims for Marriage </div>

</body>

</html>

 
