 <style>
 .errors
 {
  color:#FF0000;
  font-size:12px;
 }
 </style>
 <?php


<?php echo $form1->renderFormTag(); ?>
<table width="399" border="1" align="center" cellpadding="3" cellspacing="0">
<tr class="header_row
">
    <td align="center" colspan="2">User Add</td>
 </tr>
 <tr>
 <td colspan="2">
   <table  width="391" border="0" align="center" cellpadding="3" cellspacing="0">
   <tr><td  colspan="2" align="right"> <font color="#BB0000">*</font>Mandatory field </td>
  </tr>
  <tr>
    <td  align="right" valign="top"> <font color="#BB0000">*</font>User Name :</td>
    <td align="left" >&nbsp;&nbsp;<?php echo $form1->renderElement('login_name'); ?></td>
  </tr>
  <tr>
    <td  align="right" valign="top"> <font color="#BB0000">*</font>Password :</td>
    <td align="left" >&nbsp;&nbsp;<?php echo $form1->renderElement('password'); ?></td>
  </tr>
  <tr>
    <td valign="top" align="right" ><font color="#BB0000">*</font>First Name :</td>
    <td valign="top" align="left" >&nbsp;&nbsp;<?php echo $form1->renderElement('first_name'); ?></td>
  </tr>
  <tr>
    <td valign="top"  align="right"><font color="#BB0000">*</font>Last Name :</td>
    <td valign="top" align="left" >&nbsp;&nbsp;<?php echo $form1->renderElement('last_name'); ?></td>
  </tr>
  <tr>
    <td valign="top"  align="right"><font color="#BB0000">*</font>Role :</td>
    <td valign="top" align="left" >&nbsp;&nbsp;<?php echo $form1->renderElement('previlage'); ?></td>
  </tr>
 <div class="password" align="center"><?php echo $this->error; ?></div>
  <tr>
    <td align="center" colspan="2"><?php echo $form1->renderElement('Submit'); ?></td>
 </tr>
</table>
</td>
</tr>
</table>
</form>
