<table width="80%" height="100%"  border="1" align="center" cellpadding="5px" cellspacing="5px" bordercolor="#E4E4E4" rules="none">

      <tr align="center" bgcolor="#E4E4E4">

        <td class="font14greenbold">Set Group Privilege </td>

      </tr>

	  <tr align="center">

        <td>&nbsp;</td>

      </tr>

      <tr>

        <td>
             <?php

$form1=new Pioneersys_form($this->form);

$form1->getErrors();

?>
<?php echo $form1->renderFormTag(); ?>
           

          <div align="left">Role :

         <?php  echo $form1->renderElement('usertype'); ?>

          &nbsp;
       <?php  //echo $form1->renderElement('Submit'); ?>
        

          <br>

          <span id="errorDisplay" class="font10bluenormal">

          

          </span>

        </div></td>

        </tr>

      <tr>

        <td><hr color="#800000"></td>

        </tr>

      <tr>

        <td>



          <table width="100%"  border="0" cellspacing="3px" cellpadding="3">

            <tr align="left">

              <td colspan="6">
                         <?php  echo $form1->renderElement('Submit1'); ?>
              

                <br>

                <span class="font10bluenormal">

          		<?php if($this->msg!=""){ echo stripslashes($this->msg); }?>

         		 </span></td>

              </tr>

            <tr align="left" bgcolor="#E4E4E4">

              <td width="5%">&nbsp;SNo</td>

            

              <td width="45%" colspan="2">&nbsp;&nbsp;Field  Name</td>

              <td width="5%">&nbsp;SNo</td>

              

              <td width="45%" colspan="2">&nbsp;&nbsp;Field  Name </td>

            </tr>
           <?php 
             $groupRoles = $this->groupRoles;
                $i=1;
             foreach ($groupRoles as $resource_name=>$dat)
              {
              foreach ($dat as $module=>$role)
              {
             ?> 
               <tr align="left" bgcolor="#E4E4E4">
               <td width="5%" colspan="6">&nbsp; <?= $module; ?></td>
              </tr>
             <?php
             $i=1;
                            foreach ($role as $resourceId=>$description)
                            { 
                           // $field_description_id->addMultiOption($resourceId,$description);
                             if($i%2==1) { ?> 
                                <tr> <?php }?>
                                <td> <?php  echo $i; ?></td>
                                <td> <?php  echo $form1->renderMulti("field_description_id","", 
                                    array($resourceId=>$description),array(),false );
                                ?></td>
                                <td> <?php echo $description; ?></td>
                
                            <?php if($i%2==0) { ?> </tr> <?php }
                            $i++;
                            
                            }
                        }
                    } 
                    
  ?>
              
              
        

			  
            

            <tr align="left">

              <td colspan="6"><?php  echo $form1->renderElement('Submit2'); ?>

			  </td>

              </tr>

          </table>

        </form>
            </td>

        </tr>

    </table>