<form action="/admin/comments/list" method="post" name="form1" >

	<table width="80%" border="0" cellspacing="0" cellpadding="5">

      <tr>

        <th height="21" colspan="2" bgcolor="#EEEEEE" class="font14ArialGreyBold" scope="row">Search  Comments </th>

      </tr>

      <tr>

        <th width="40%" align="right" class="font12Arial" scope="row">Profile Id &nbsp;&nbsp;</th>

        <td width="60%" align="left">
         <input id="profileSearch" maxlength="50" size="40" name="profileSearch"  />
        <input  type="hidden" id="applicant_id" maxlength="50" size="40" name="applicant_id" /></td>

      </tr>

      <tr>

        <th align="right" scope="row">&nbsp;</th>

        <td align="left">&nbsp;</td>

      </tr>

      <tr>

        <th colspan="2" align="center" scope="row">
            <input type="submit" name="displayById" value="Display Comments"/>

          &nbsp;

          <input type="submit" name="displayAll" value="Display All Comments"  /></th>

        </tr>

    </table>

	</form>