



<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tr bgcolor="#EEEEEE" >
    <td colspan="6"><div align="right" >
      
    </td></tr>
   
   <tr bgcolor="#EEEEEE" >
            <td colspan="6" align="right"><span class="font14ArialGreyBold">
                    <font style="color: #fffff;"> <div align="left" id="resultList" ></div></font>   <input type="button" name="addnew" value="Add New Comment" id="addnew" />
            </span></td>
  </tr>
   <tr bgcolor="#EEEEEE" >
            <td colspan="6" bgcolor="#FFFFFF" class="font14ArialGreyBold" >
                <div id="addCommentDiv" style="display:none;">
            <table width="100%" border="0" cellpadding="3" cellspacing="3">
              <tr bgcolor="#EEEEEE">
                <td colspan="5"><span class="font14greenbold">Add New Comment Here: </span></td>
              </tr>
              <tr bgcolor="#EEEEEE">
                <td>Entered Profile Id </td>
                <td>Reference Profile Id </td>
                <td>Comment </td>
                <td>Status</td>
                <td>&nbsp;</td>
              </tr>
              <tr bgcolor="#EEEEEE">
                <td><?php echo $commentsAdd->renderElement('entered_applicant_id'); ?>
                   <input name="profile_id" id="profile_id" type="hidden" style="text-align:center" size="10" value="<?=$profile_id ?>" />
                  </td>
                <td><?php  echo $commentsAdd->renderElement('reference_applicant_id'); ?> </td>
                 <td><?php  echo $commentsAdd->renderElement('comment'); ?> </td>
                  <td><span class="font12ArialGrey"><?php echo $commentsAdd->renderElement('match_status'); ?> ></span></td>
                  <td><span class="font12ArialGrey">
                 <?php echo $commentsAdd->renderElement('save'); ?>
                 <?php   echo $commentsAdd->renderElement('cancel'); ?>
                </span></td>
              </tr>
            </table>
                </form>
            </div>
            </td>
  </tr>
   <tr bgcolor="#EEEEEE" >
       <td colspan="6"><div align="right" >
             <div align="right" ><div style="float:right">
 <?php echo $this->paginationControl($this->result,'Sliding','/partials/paginationPostControl.phtml'); ?></div> 
               </div>   
               <div style="float:right">
                 <?php echo $paginatorFilter->renderFormTag();
              echo $paginatorFilter->renderElement('page').$paginatorFilter->renderElement('limitCount').
          "&nbsp;&nbsp;"." Records ".$paginatorFilter->renderElement('filterPaameters'); 
 echo "</form>";?>
               </div> </td></tr>
   <tr bgcolor="#EEEEEE" >
     <td colspan="6" align="center"> List of All Comments </td>
  </tr>
   
      	<tr bgcolor="#EEEEEE">

        <td width="78" align="center" bgcolor="#EEEEEE">Entered Profile Id </td>

        <td width="89" height="21" align="center" bgcolor="#EEEEEE">Reference Profile Id </td>

        <td width="267" align="center" bgcolor="#EEEEEE"> Comment </td>

        <td width="117" align="center">Status</td>

        <td width="110" align="center">Comment Date / Time </td>

        <td width="88" align="center">Comment By </td>

        </tr>
<?php 

	foreach($this->paginator  as $data ){

		++$s_no;

	  ?>
        
          <tr>

        <td align="center"><a href="/admin/applicant/profile/applicantId/<?=$data->entered_applicant_id; ?>" target="_blank"><?=$data->entered_applicant_id; ?></a></td>

        <td align="center"><a href="/admin/applicant/profile/applicantId/<?=$data->reference_applicant_id; ?>" target="_blank"><?=$data->reference_applicant_id; ?></a></td>

        <td align="center">

		<textarea name="textfield" cols="30" rows="3" readOnly="true" style="width:98%"><?=$data->comment;  ?></textarea></td>

        <td align="center" class="font12ArialGrey"><?=$data->match_status;  ?></td>

        <td align="center" class="font12ArialGrey">

		<?

			$comment_date_time = $data->comment_date; ;

			echo date("m/d/Y",strtotime($comment_date_time)) . "<br />" .  date("h:i A",strtotime($comment_date_time));

		?>

		</td>

        <td align="center" class="font12ArialGrey"><?=$data->comment_by;  ?><br /></td>

        </tr>

<?php
        }
 
 
        ?>

    </table>

    
</td>